{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}    
    <p>Internal error occurred, we're very sorry.
    Our team of coding ninjas has been otified and is already working on the problem.</p>
    <p><a href="/">Click to continue</a></p>
    <img src="/images/code_ninja.png">
{% endblock %}