{% extends "master.html.twig" %}

{% block title %}Post List{% endblock %}

 {% block content %}
     <form class="searchForm" method="get">
         Search:<input type="text" name="search">
         <input type="submit" value="Search">
     </form>
                <p><a href="/post/new">Add Post</a></p>
                    
                    {% for l in list %}                      
                       <img style="float: left;" src="{{l['photoPath']}}" width="40">                          
                       <p>{{l.name}} posted on {{l.datePosted}}</p>
                       <h2>{{l.title}}</h2>  
                       <p>{{l.body}}</p>
                        {% else %}
                            <tr><td colspan="6">No posts to display</td></tr>
                        {% endfor %}
                        
                </table>
            {% endblock %}