{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    
    <p>Access Denied.<a href="/register">Register</a> or <a href="/login">login</a>.</p>

{% endblock %}