{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Login Page{% endblock %}

{% block content %}
    
{% if error %}
    <p>Login invalid. Try again or <a href="/register">register</a>.</p>
{% endif %}



<form method="post">
    Email: <input type="text" name="email"><br>
    Password:  <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

{% endblock %}