{% extends "master.html.twig" %}

{% block title %}Login Success{% endblock %}

{% block content %}
    
{# <p>{{email}} successfully logged in.<a href="/index">Go home</a></p> #}
<p><a href="/post/new">Add a new post</a></p>
{% endblock %}