{% extends "master.html.twig" %}

{% block title %} Post Added{% endblock %}

{% block content %}
    
    <p>Post added.<br> <a href="/post/new">Add another post</a> or <a href="/"> view list of post</a></p>

{% endblock %}