{% extends "master.html.twig" %}

{% block title %}New Post{% endblock %}
{#  {% block headextra %} 
  <script type="text/javascript">
  $("#isDone").val("<?php echo $_POST['isDone'];?>");
  </script>
  {% endblock %} #}
{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Body: <textarea name="body">{{v.body}}</textarea><br>             
            <input type="submit" value="Add post">
        </form>

        {% endblock %}