
/* 
    Created on : 26-Oct-2017, 10:56:26 PM
    Author     : namel
*/

/* slimshop styles */
body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 0;
    width: 500px; /* 960px */
    background-color: white;        
}

.roweven{
    background-color: crimson;
    color: blanchedalmond;
}

.roweven a {
    color: bisque;
}

.rowodd {
    background-color: cornflowerblue;
    color: aquamarine;
}

.rowodd a {
     color: aquamarine;
}