{% extends "master.html.twig" %}

{% block title %}Add Post{% endblock %}

{% block content %}
    <h3>Access denied</h3>
    <p><a href="/">Click to continue</a></p>
    <img src="/images/denied.png">
{% endblock %}