{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    {% if memberSession %}
        <table border="1">
            <tr><th>#</th><th>Post</th><th>Title</th><th>Body</th><th>DatePosted</th></tr>
        {% for p in postList %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{p.title}}</td>
                <td>{{p.body}}</td>
                <td>{{p.datePosted}}</td>
                <td>
                    <a href="/edit/{{t.id}}">Edit</a>
                    <a href="/delete/{{t.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>You must register or login first to view your your data.</p>
    {% endif %}
{% endblock %}