{% extends "master.html.twig" %}

{% block title %}Confirm delete{% endblock %}

{% block content %}
    <p><b>Are you sure you want to delete this post?</b></p>
    <button onclick="window.location.href='/'">Cancel</button>
    {# action not requried since we're already on URL looking like
        action="/admin/products/delete/{{p.id}}" #}
    <form method="post"  style="display: inline;">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete">
    </form>
    <div>
        <p>Post Title: {{post.title}}</p>
        <p>Date of post: {{post.datePosted}}</p>
    </div>


{% endblock %}
