{% extends "master.html.twig" %}

{% block title %}Add post{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Body: <input type="text" name="body" value="{{v.body}}"><br>
        datePosted: <input type="date" name="datePosted" value="{{v.datePosted}}"><br>
        <input type="submit" value="Add post">
    </form>
{% endblock %}
