{% extends "master.html.twig" %}

{% block title %}Product delete{% endblock %}

{% block content %}    
    <p>Product deleted. <a href="/admin/products/list">Click to continue</a>.</p>
{% endblock %}
