/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2017, 12:04:39 PM
    Author     : 1795849
*/

body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    width: 400px; /* 960px */
    background-color: lightcyan;        
}



