<!DOCTYPE html>
<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Default{% endblock %}</title>
        {% block headextra %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
            {% if userSession %}
                <p>You're logged in as {{ userSession.name }} .
                    You may <a href="/logout">logout</a></p>
            {% else %}
                <p>You're not logged in. You may <a href="/register">Register</a>
                or <a href="/login">Login</a>.</p>
            {% endif %}
                
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
