{% extends "master.html.twig" %}

{% block title %}Confirm delete{% endblock %}

{% block content %}
    <p><b>Are you sure you want to delete this todo?</b></p>
    <button onclick="window.location.href='/'">Cancel</button>
    {# action not requried since we're already on URL looking like
        action="/admin/products/delete/{{p.id}}" #}
    <form method="post"  style="display: inline;">
        <input type="hidden" name="confirmed" value="true">
        <input type="submit" value="Delete">
    </form>
    <div>
        <p>Task: {{todo.task}}</p>
        <p>Due date: {{todo.dueDate}}</p>
        <p>Is done: {{todo.isDone}}</p>
        <img src="">
    </div>


{% endblock %}
