{# empty Twig template #}

{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Name: <input type="text" name="name" value="{{v.name}}"><br>
    Age: <input type="number" name="age" value="{{v.age}}"><br>
    <input type="submit" value="Add Person">
</form>
