{% extends "master.html.twig" %}

{% block title %}To-Do List{% endblock %}

 {% block content %}
                <p><a href="/add">Add To-Do</a></p>
                <table border="3">
                    <tr><th>#</th><th>Task</th><th>Date</th><th>Status</th><th>Image</th><th>Actions</th></tr>
                    
                    {% for t in list %}
                        <tr class="{% if loop.index is odd %}rowodd{% else %}roweven{% endif %}">
                            <td>{{loop.index}}</td> {# either p.name or p['name'] both work #}
                            <td>{{t['name']}}</td>
                            <td>{{t.task}}</td>
                            <td>{{t['date']}}</td>
                            <td>{{t['isDone']}}</td>
                            <td><img src="{{t['imagePath']}}" width="150"</td>
                            <td>                              
                                <a href="/delete/{{t.id}}">Delete</a>
                                <a href="/edit/{{t.id}}">Edit</a>
                            </td>                             
                        </tr>
                        {% else %}
                            <tr><td colspan="6">No to-dos to display</td></tr>
                        {% endfor %}
                        
                </table>
            {% endblock %}