
{% extends "master.html.twig" %}

{% block title %}Logout Page{% endblock %}

{% block content %}
    
{# <p>You've been logged out, <a href="/login">login</a> or <a href="/register">register</a> .</p> #}

{% endblock %}