{# created Oct 28 2017 #}
<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
        <title>{% block title %}Default{% endblock %}</title>
    {% block headextra %}{% endblock %}
</head>
<body>
    <div id="centeredContent">
        {% if userSession %}
            <p>You're logged in as {{userSession.name}}. You may <a href="/logout">logout</a></p>
        {% else %}
            <p>You're not logged in. <a href="/login">Login</a> or <a href="/register">register</a></p>
        {% endif %}
    {% block content %}{% endblock %}
</div>
</body>
</html>