{% extends "master.html.twig" %}

{% block title %}Confirm Delete{% endblock %}

 {% block content %}
     <p><b>Are you sure you want to delete this todo?</b></p>
     <form action="/index" style="display:inline;">
         <input type="submit" value="Cancel">
     </form>
     {# action not necessary since we're already on URL
        looking like action="/admin/products/delete/{{p.id}}" #}
       <form method="post" style="display:inline;">
           <input type="hidden" name="confirmed" value="true">
         <input type="submit" value="Delete">
     </form>
           
           <div>
               <p>Task: {{t.task}}</p>
               <p>Date: {{t.date}}</p>
               <p>Status: {{t.isDone}}</p>
               <img src="">
           </div>
               
   {% endblock %}