{% extends "master.html.twig" %}

{% block title %}To-Do {% if isEditing %}edit{% else %}add{% endif %}{% endblock %}
{#  {% block headextra %} 
  <script type="text/javascript">
  $("#isDone").val("<?php echo $_POST['isDone'];?>");
  </script>
  {% endblock %} #}
{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Task: <input type="text" name="task" value="{{v.task}}"><br>
        Date: <input type="date" name="date" value="{{v.date}}"><br>
        Status: <select name="isDone" id="isDone">
                    <option value="pending" {% if v.isDone == 'pending' %}selected{% endif %}>Pending</option>
                    <option value="done" {% if v.isDone == 'done' %}selected{% endif %}>Done</option>
                </select><br>
        Image Path: <input type="file" value="{% if isEditing %}{{v.imagePath}}{% else %}''{% endif %}"  name="todoImage"><br>
            <input type="submit" value="{% if isEditing %}Update{% else %}Add{% endif %} To-Do">
        </form>

        {% endblock %}