{% extends "master.html.twig" %}

{% block title %}To-Do deleted{% endblock %}

{% block content %}    
    <p>To-Do deleted. <a href="/index">Return to list</a> or <a href="/add">Add another to-do</a></p>
{% endblock %}